---
layout: default
---

<div class="home">
	<section>
		<!--<h2 class="smallcap">about</h2>-->
		<p>A short list of things i play with, things i like and things i like to wtite about. 
			follow me on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>, 
			fork me on <a href="https://github.com/{{ site.github_username }}">GitHub</a>, 
			see things i capture on <a href="https://github.com/{{ site.github_username }}">flickr</a>.</p>
	</section>
 
	<section>
		<h2 class="smallcap">writings</h2>
		<ul class="post-list">
			{% for post in site.posts limit:5 %}
			<li>
				<span class="post-list-date">{{ post.date | date: "%b %d, %Y" }}</span>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<p><a href="{{ "/archives/" | prepend: site.baseurl }}">view more...</a></p>
	</section>
	
  {% if paginator.total_pages > 1 %}
  <div class="paginator">
    {% if paginator.next_page %}
      <a class="next_page" href="{{ paginator.next_page_path }}">← Older posts</a>
    {% endif %}

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="prev_page" href="/">Newer posts →</a>
      {% else %}
        <a class="prev_page" href="{{ paginator.previous_page_path }}">Newer posts →</a>
      {% endif %}
    {% endif %}
    <div style="clear:both"></div>
  </div>
  {% endif %}
	</div>
